/* Card / Section */
.card {
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  flex-shrink: 0;

  .form-group:last-child {
    margin-bottom: 0;
  }
}

.overflow-visible {
  overflow: visible !important;
}

.card-list {
  padding: 0 16px;
}
